/*ESTILOS GENERALES*/
body {
    background-color: lightsteelblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*TÍTULOS*/
h1 {
    text-align: center;
    color: darkslategrey;
    font-size: 2em;
    margin-top: 20px;
}

h2 {
    text-align: center;
    color: darkslategray;
    margin-bottom: 10px;
}

/*PÁRRAFOS Y TEXTOS*/
p {
    text-align: center;
    font-size: 15px;
    margin: 10px auto;
}

/*CONTENEDORES*/
div {
    text-align: center;
    font-size: 15px;
}

/*TABLAS*/
table {
    border-color: maroon;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    padding: 8px;
    border: 2px solid maroon;
}

/*ENLACES*/
a {
    text-decoration: none;
    color: darkblue;
}

a:hover {
    color: purple;
    text-decoration: underline;
}

/*IMÁGENES*/
img.galeria {
    border: 5px solid black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img.galeria:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/*BOTONES*/
button {
    background-color: darkslategray;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 6px 12px;
    cursor: pointer;
    margin: 2px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: mediumorchid;
    transform: scale(1.05);
}

/*LÍNEAS Y SEPARADORES*/
hr {
    border: none;
    height: 1.5px;
    background-color: maroon;
    margin: 15px 0;
}

/*LISTAS PERSONALIZADAS*/
ul {
    list-style: none; 
    padding: 0;
    margin: 0 auto;
    width: fit-content;
    text-align: left;
}

li {
    position: relative;
    padding-left: 30px; 
    margin: 10px 0;
    font-size: 16px;
}


li::before {
    content: "🚀";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
}

/*PIE DE PÁGINA*/
i {
    color: darkslategray;
}
